<section class=" login-container">
  <div class="form-group">
    <label for="email" class="mr-b-10">Email</label>
    <input class="wd-25"type="email" id="email" [(ngModel)]="email" placeholder="Enter your email" required>
  </div>
  <div class="form-group">
    <label for="password" class="mr-b-10">Password</label>
    <input class="wd-25"type="password" id="password"  [(ngModel)]="password" placeholder="Enter your password" required>
  </div>
</section>

<section>
  <button type="submit" class="sub-btn" click="onLogin()">Login</button>
</section>

<section class="mr-l-150">
  <p>
    Create New Account <a routerLink="/register" routerLinkActive="active">Register</a>
  </p>
</section>
